# Default is to keep crlf line endings
text=auto

*.IMD binary
*.imd binary
*.SUB text eol=crlf
*.LIB text eol=crlf
*.MAC text eol=crlf
*.ASM text eol=crlf
*.C text eol=crlf
*.TXT text eol=crlf
*.BAS text eol=crlf

